body {
background-color: rgb(13, 245, 245);
color:rgb(2, 63, 63);
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}