body { 
    max-width: 100vw;
}

header {
    background-color: #53fc05;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid black;
}

main {
    background-color: #FFFFFF;
    color: #070707;
    margin: 50px auto;
    padding: 0px;
   display: flex;
   flex-wrap: wrap;
}
article{
display: flex;
flex: 1 1 25%;
justify-content: center;
text-align: center;
margin: 16px;
gap: 16px;
padding: 16px;
border: 1px solid #183C63;
}
img {
    width: 100px;
    height: 100px;
}

.artigo-autor {

    font-weight: bold;
}